/*Codigos de colores del sitio------------------------------------------------------
Violeta: #ACA7CF
Azul: #25295A
Blanco:
Tipografia: Times New Roman*/

* {
    font-family: 'Times New Roman', Times, serif;
}

h5{
    font-weight: bold;
}

a {
    text-decoration: none;
}

p {
    color: #25295A;
}

header {
    padding-bottom: 2%;
}

#logo {
    width: 12%;
    padding-left: 2.5%;
}

.bi {
    color: #ACA7CF !important;
    font-size: 25px;
}

.imagenProvinciaAndina {
    display: flex;
    padding-top: 5%;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

.imagenParallax {
    background-image: url("../imagenes/Pagina Inicial/EFECTO\ PARALAJE\ IGLESIA\ \ -REFORMAS\ DEL\ SANTUARIO\ 1967X3158.jpg");
    height: 1000px;
    /* Create a parallax effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 2%;
}

.imagenSeparador {
    background-image: url("../imagenes/Pagina Inicial/SEPARADOR\ 1967X139.jpg");
    background-size: cover;
    height: 139px;
    margin-bottom: 2%;
}

.imagenSeparadorReformaSantuario {
    background-image: url("../imagenes/reformas_santuario/SEPARADOR\ REFORMAS\ DEL\ SANTUARIO\ 1967X139.jpg");
    background-size: cover;
    height: 139px;
    margin-bottom: 2%;
}

.imagenPrincipalDonaciones {
    background-image: url("../imagenes/donaciones/BANNER\ DONACIONES\ 1967X312.jpg");
    background-size: cover;
    height: 312px;
    margin-bottom: 2%;
}

.imagenMuroInfoSantos {
    background-image: url("../imagenes/muro_inf_santos/BANER\ MURO\ INFORMATIVO\ 1967X312.jpg");
    background-size: cover;
    height: 312px;
    margin-bottom: 2%;
}

.imagenReformasSantuario {
    background-image: url("../imagenes/reformas_santuario/BANNER\ REFORMAS\ DEL\ SANTUARIO\ 1967X312.jpg");
    background-size: cover;
    height: 312px;
    margin-bottom: 2%;
}

.imagenBienvenidosSantuario {
    background-image: url("../imagenes/bienvenidos/BANNER\ BIENVENIDOS\ AL\ SANTUIUARIO\ 1967X312.jpg");
    background-size: cover;
    height: 312px;
    margin-bottom: 2%;
}

.imagenSeparadorBienvenidos {
    background-image: url("../imagenes/bienvenidos/SEPARADOR\ BIENVENIDOS\ AL\ SANTUARIO\ 1967X139.jpg");
    background-size: cover;
    height: 139px;
    margin-bottom: 2%;
}

.imagenPrincipalVidaDeFe {
    background-image: url("../imagenes/vida_de_fe/BANNER\ VIDA\ DE\ FÉ\ 1967X312.jpg");
    background-size: cover;
    height: 312px;
    margin-bottom: 2%;
}

.cruz {
    width: 40px; 
    height: auto;
}

#santosDeLaSemana {
    padding-top: 5%;
    text-align: center;
    color: #25295A;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
    text-decoration: underline #ACA7CF;
    text-underline-offset: 30px;
}

#vozDelAlma,
#donaciones,
#refSantuario,
#refReligiosos {
    text-align: center;
    color: #25295A;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
    text-decoration: underline #ACA7CF;
    text-underline-offset: 30px;
    margin-bottom: 2%;
}

#muroInformativo {
    text-align: center;
    color: #25295A;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
    text-decoration: underline #ACA7CF;
    text-underline-offset: 30px;
}

#carouselExampleCaptions2 {
    padding-top: 5%;
    margin-left: 15%;
    margin-right: 10%;
    align-items: start;
}

.card-title {
    font-weight: bold;
    color: #25295A;
}

.card-text {
    color: #25295A;
}

.card {
    width: auto;
    border-color: #ACA7CF;
}

.card-img-top {
    width: 100%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
  filter: invert(100%);
}

.carousel-caption {
    position:absolute;
    text-align: start;
    margin-right: 20%;
    padding-bottom: 5%;
    font-weight: bold;
}

.botones {
    background-color: #25295A;
    color: white;
}

.botonVerMas,
.botonDonaciones,
.botonDatosBancarios,
.botonInicio {
    background-color: #25295A;
    color: white;
    width: 180px;
    height: 30px;
}

.botonReformasSantuario{
    background-color: #25295A;
    color: white;
    width: 200px;
    height: 30px;
    margin-bottom: 5%;
}

.botonVerGaleriaFotos {
    background-color: #25295A;
    color: white;
    width: 180px;
    height: 30px;
    margin-top: 20%;
}

.verMas {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.verReformasSantuario {
    display: flex;
    justify-content: center;
}

.datosBancarios {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.Donaciones,
.btnInicio {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

/*Animated transition tabs*/
.made-with {
    background: #ACA7CF;
    color: #25295A;
    display: block;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 5px 110px;
    position: fixed;
    top: 20px;
    right: -100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 30%;
  margin-right: 30%;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #25295A;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #ACA7CF; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #ACA7CF; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%;}
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }
/*FIN - Animated transition tabs*/

iframe {
    width: 1024px;
    height: 800px;
}

#cardReligiosos {
    width: auto;
}

.botonSacramentos,
.tablink {
    display: inline-block;
    background-color: white;
    border: none;
    text-align: center;
    padding-left: 5%;
}

.btnSacramentos {
    display: inline-block;
}

#mySacramentos,
#myBautismo,
#myComunion,
#myConfirmacion {
    display: none;
}

#descripcionSacramentos {
    margin-left: 20%; 
    margin-right: 20%; 
    text-align: justify;
}

.tabcontent {
    color:#25295A;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 992px) {
    #logo {
        display: inline-block;
        width: 35%;
        text-align: center;
    }

    iframe {
        width: 600px;
        height: 300px;
    }

    p {
        margin-top: 5%;
    }

    .bi {
        font-size: 80%;
    }

    .imagenProvinciaAndina {
        display: inline-block;
        text-align: center;
        padding-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }

    #cardReligiosos {
        width: 18rem;
    }

    .card-title {
        font-size: 90%;
        font-weight: bold;
        color: #25295A;
    }

    .card-text {
        font-size: 80%;
        color: #25295A;
    }

    #carouselExampleCaptions2 {
        padding-top: 5%;
        margin-left: 25%;
        margin-right: 8%;
        align-items: center;
    }

    .imagenSeparador {
        background-image: url("../imagenes/Pagina Inicial/SEPARADOR\ 1967X139.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        background-position: right;
        height: 75px;
    }

    .imagenPrincipalDonaciones {
        background-image: url("../imagenes/donaciones/BANNER\ DONACIONES\ 1967X312.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
    }

    .imagenMuroInfoSantos {
        background-image: url("../imagenes/muro_inf_santos/BANER\ MURO\ INFORMATIVO\ 1967X312.jpg");
        background-size: cover;
        background-position: right;
        height: 156px;
        margin-bottom: 2%;
    }

    .imagenReformasSantuario {
        background-image: url("../imagenes/reformas_santuario/BANNER\ REFORMAS\ DEL\ SANTUARIO\ 1967X312.jpg");
        background-size: cover;
        height: 156px;
        margin-bottom: 2%;
    }

    .imagenSeparadorReformaSantuario {
        background-image: url("../imagenes/reformas_santuario/SEPARADOR\ REFORMAS\ DEL\ SANTUARIO\ 1967X139.jpg");
        background-size: cover;
        background-position: right;
        height: 75px;
        margin-bottom: 2%;
    }

    .imagenBienvenidosSantuario {
        background-image: url("../imagenes/bienvenidos/BANNER\ BIENVENIDOS\ AL\ SANTUIUARIO\ 1967X312.jpg");
        background-size: cover;
        background-position: right;
        height: 150px;
        margin-bottom: 2%;
    }

    .imagenSeparadorBienvenidos {
        background-image: url("../imagenes/bienvenidos/SEPARADOR\ BIENVENIDOS\ AL\ SANTUARIO\ 1967X139.jpg");
        background-size: cover;
        background-position: right;
        height: 75px;
        margin-bottom: 2%;
    }

    .imagenPrincipalVidaDeFe {
        background-image: url("../imagenes/vida_de_fe/BANNER\ VIDA\ DE\ FÉ\ 1967X312.jpg");
        background-size: cover;
        background-position: center;
        height: 150px;
        margin-bottom: 2%;
    }

    #santosDeLaSemana,
    #muroInformativo,
    #refSantuario {
        display: flex;
        line-height: 1.5em;
        text-underline-offset: 15px;
    }

    #refReligiosos {
        display: flex;
        line-height: 1.5em;
        text-underline-offset: 15px;
        margin-bottom: 8%;
    }

    #vozDelAlma {
        display: flex;
        line-height: 1.5em;
        text-underline-offset: 5px;
        margin-bottom: 8%;
    }

    .verMas {
        margin-bottom: 10%;
    }

    h3 {
        font-size: 90%;
        margin-right: 10%;
        padding-right: 5%;
    }

    .d-block {
        height: 170px;
        width: auto;
    }

    .carousel-caption {
        position:absolute;
        bottom: 0px;
        font-size: 78%;
        text-align: start;
    }

    .carousel-item {
        width: 150%;
    }

    #mySacramentos,
    #myBautismo,
    #myComunion,
    #myConfirmacion {
        display: none;
        font-size: 80%;
    }

    .footer {
        position:relative;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
    }

    #imgFooter {
        vertical-align: middle;
    }

    .footer {
        font-size: 1.5vw;
        margin-top: 1%;
    }

    .botonDonaciones {
        display: flex;
        justify-content: center;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .botonReformasSantuario {
        margin-top: 5%;
    }

    .tabs {
        margin-left: 10%;
        margin-right: 10%;
    }

}

