/*Codigos de colores del sitio------------------------------------------------------
Violeta: #ACA7CF
Azul: #25295A
Blanco:
Tipografia: Times New Roman*/

* {
    font-family: 'Times New Roman', Times, serif;
}

h5{
    font-weight: bold;
}

h2, h5, h6 {
    color: #25295A;
}

h6 {
    align-items: center; 
    text-align: justify;
}

a {
    text-decoration: none;
}

p {
    color: #25295A;
}

header {
    padding-bottom: 2%;
}

#logo {
    width: 12%;
    padding-left: 2.5%;
}

.bi {
    color: #ACA7CF !important;
    font-size: 25px;
}

iframe {
    width: 80%;
    margin: 0 auto;
    border: none;
    display: block;
    margin-bottom: 5%;
}

/* Slideshow container ------------------------*/
.slideshow-container {
    /*max-width: 1000px;*/
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 22px;
    /*padding: 8px 12px;*/
    position: absolute;
    bottom: 40%;
    left: 8%;
    right: 50%;
    width: 100%;
    text-align: left;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ACA7CF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot:hover {
    background-color: #25295A;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 10s;
  }
  
  @keyframes fade {
    from {opacity: 1}
    to {opacity: 1}
  }

/* Slideshow container ------------------------*/

.imagenProvinciaAndina {
    display: flex;
    padding-top: 5%;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

.imagenParallax {
    background-image: url("../imagenes/Pagina Inicial/EFECTO\ PARALAJE\ IGLESIA\ \ -REFORMAS\ DEL\ SANTUARIO\ 1967X3158.jpg");
    height: 1000px;
    /* Create a parallax effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 2%;
}

.imagenSeparador {
    background-image: url("../imagenes/Pagina Inicial/SEPARADOR\ 1967X139.jpg");
    background-size: cover;
    height: 139px;
    margin-bottom: 2%;
}

.imagenSeparadorReformaSantuario {
    background-image: url("../imagenes/reformas_santuario/SEPARADOR\ REFORMAS\ DEL\ SANTUARIO\ 1967X139.jpg");
    background-size: cover;
    height: 139px;
    margin-bottom: 2%;
}

.imagenPrincipalDonaciones {
    background-image: url("../imagenes/donaciones/BANNER\ DONACIONES\ 1967X312.jpg");
    background-size: cover;
    height: 312px;
    margin-bottom: 2%;
}

.imagenMuroInfoSantos {
    background-image: url("../imagenes/muro_inf_santos/SANTOS\ 1967X312.jpg");
    background-size: cover;
    height: 312px;
    margin-bottom: 2%;
}

.imagenReformasSantuario {
    background-image: url("../imagenes/reformas_santuario/BANNER\ REFORMAS\ DEL\ SANTUARIO\ 1967X312.jpg");
    background-size: cover;
    height: 312px;
    margin-bottom: 2%;
}

.imagenBienvenidosSantuario {
    background-image: url("../imagenes/bienvenidos/BANNER\ BIENVENIDOS\ AL\ SANTUIUARIO\ 1967X312.jpg");
    background-size: cover;
    height: 312px;
    margin-bottom: 2%;
}

.imagenSeparadorBienvenidos {
    background-image: url("../imagenes/bienvenidos/SEPARADOR\ BIENVENIDOS\ AL\ SANTUARIO\ 1967X139.jpg");
    background-size: cover;
    height: 139px;
    margin-bottom: 2%;
}

.imagenPrincipalVidaDeFe {
    background-image: url("../imagenes/vida_de_fe/BANNER\ VIDA\ DE\ FÉ\ 1967X312.jpg");
    background-size: cover;
    height: 312px;
    margin-bottom: 2%;
}

.imagenPrincipalGrupos {
    background-image: url("../imagenes/grupos/GRUPOS\ DEL\ SANTUARIO\ 1967X312.jpg");
    background-size: cover;
    height: 312px;
    margin-bottom: 2%;
}

.imagenPrincipalHorarios {
    background-image: url("../imagenes/horarios/HORARIO\ 1967X312.jpg");
    background-size: cover;
    height: 312px;
    margin-bottom: 2%;
}

.imagenPrincipalRadioParroquial {
    background-image: url("../imagenes/radio_parroquial/12-RADIO\ PARROQUIAL.jpg");
    background-size: cover;
    height: 312px;
    margin-bottom: 2%;
}

#imgSlideshow {
    width: 100%;
} 

.card-img-top {
    width: 100%;
    object-fit: fill;
}

.cruz {
    width: 40px;
    height: auto;
}

#santosDeLaSemana {
    padding-top: 5%;
    text-align: center;
    color: #25295A;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
    text-decoration: underline #ACA7CF;
    text-underline-offset: 30px;
}

#fichaSantos {
    align-items: center;
}

#seccionAzulSantos {
    background-color: #25295A; color: white; border-radius: 10px; padding: 5%; line-height: 130%; font-size: 1.1rem;
}

#vozDelAlma,
#donaciones,
#refSantuario,
#refReligiosos {
    text-align: center;
    color: #25295A;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
    text-decoration: underline #ACA7CF;
    text-underline-offset: 30px;
    margin-bottom: 2%;
}

#muroInformativo {
    text-align: center;
    color: #25295A;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
    text-decoration: underline #ACA7CF;
    text-underline-offset: 30px;
}

.botones {
    background-color: #25295A;
    color: white;
}

.botonVerMas,
.botonDonaciones,
.botonDatosBancarios,
.botonInicio {
    background-color: #25295A;
    color: white;
    width: 180px;
    height: 30px;
}

.botonReformasSantuario{
    background-color: #25295A;
    color: white;
    width: 200px;
    height: 30px;
    margin-bottom: 5%;
}

.botonVerGaleriaFotos {
    background-color: #25295A;
    color: white;
    width: 180px;
    height: 30px;
    margin-top: 20%;
}

.verMas {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.verReformasSantuario {
    display: flex;
    justify-content: center;
}

.datosBancarios {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.Donaciones,
.btnInicio {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

/*Animated transition tabs*/
.made-with {
    background: #ACA7CF;
    color: #25295A;
    display: block;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 5px 110px;
    position: fixed;
    top: 20px;
    right: -100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 30%;
  margin-right: 30%;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #25295A;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #ACA7CF; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #ACA7CF; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%;}
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }
/*FIN - Animated transition tabs*/

iframe {
    width: 1024px;
    height: 800px;
}

#cardReligiosos {
    width: auto;
}

.botonSacramentos,
.tablink,
.tablink2{
    display: inline-block;
    background-color: white;
    border: none;
    text-align: center;
    padding-left: 5%;
}

#descripcionSacramentos {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

.tabcontent,
.tabcontent2 {
    display: none;
    padding: 100px 20px;
    height: 100%;
    align-items: center;
}

/*--------------------*/

.navbar {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 1rem !important;
    color: #25295A !important;
    border: none !important; box-shadow: none !important;
}

.nav-link,
#offcanvasNavbarLabel {
    color: #25295A !important;
}

.nav-link:hover {
    background-color: #ACA7CF;
    color: white !important;
}

a {
    color: #25295A;
}

.list {
    display: flex !important;
    gap: 1rem !important;
    list-style: none !important;
    color: #25295A !important;
}

.list-item {
    color:#ACA7CF !important;
    padding: .5rem !important;
    position: relative !important;
}

.list-item::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ACA7CF;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
    font-weight: bold;
}

.list-item:hover::after {
    transform: scaleX(1);
}
/*--------------------*/

#Home,
#News,
#Home1,
#News1,
#Contact1,
#Contact2,
#Contact3,
#Contact4,
#formContacto,
#grupoPastoral,
#grupoLaborSocial {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -3%;
}


#listHorarios {
    font-size: 1.5rem;
}

#horarios {
    font-size: 1.2rem;
}

#titulosHorarios {
    color: #ACA7CF;
}

#navbarHorarios {
    font-size: 1.2rem;
}

.form-control {
    border-color: #25295A;
    border-radius: 0;
}

/*Formato de las tarjetas--------------------------------------------------------------*/
/* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 20px 8px 20px 20px;
  }

  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 5%;
    margin-right: 5%;
  }

  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }

  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: #25295A;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 90%;
    padding-top: 5%;
  }

  .title2 {
    color: #25295A;
    font-size: 1rem;
    line-height: 120%;
    margin-top: -3% !important;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #25295A;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #ACA7CF;
  }


.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#footerCopy {
    color: #25295A;
}

#footerLoveLace {
    color: #ACA7CF;
}


/* Estilos para dispositivos móviles --------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    #logo {
        display: inline-block;
        width: 35%;
        text-align: center;
    }

    iframe {
        width: 600px;
        height: 300px;
    }

    p {
        margin-top: 5%;
    }

    .bi {
        font-size: 80%;
    }

    .slideshow-container {
        height: 250px;
        position: relative;
    }

    #imgSlideshow {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: right;
    } 

    .prev, .next, .text {font-size: 14px; color: white  }

    #textSlideshow {font-size: 14px; margin-right: 20%; align-items: center; background-color: rgba(0, 0, 0, 0.5) ;}

    .dot {
        height: 10px;
        width: 10px;
      }

    .imagenProvinciaAndina {
        display: inline-block;
        text-align: center;
        padding-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .card-title {
        font-size: 90%;
        font-weight: bold;
        color: #25295A;
    }

    .card-text {
        font-size: 80%;
        color: #25295A;
    }


    .imagenSeparador {
        background-image: url("../imagenes/Pagina Inicial/SEPARADOR\ 1967X139.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        background-position: right;
        height: 75px;
    }

    .imagenPrincipalDonaciones {
        background-image: url("../imagenes/donaciones/BANNER\ DONACIONES\ 1967X312.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
    }

    .imagenMuroInfoSantos {
        background-image: url("../imagenes/muro_inf_santos/SANTOS\ 1967X312.jpg");
        background-size: cover;
        background-position: center;
        height: 156px;
        margin-bottom: 2%;
    }

    .imagenReformasSantuario {
        background-image: url("../imagenes/reformas_santuario/BANNER\ REFORMAS\ DEL\ SANTUARIO\ 1967X312.jpg");
        background-size: cover;
        height: 156px;
        margin-bottom: 2%;
    }

    .imagenSeparadorReformaSantuario {
        background-image: url("../imagenes/reformas_santuario/SEPARADOR\ REFORMAS\ DEL\ SANTUARIO\ 1967X139.jpg");
        background-size: cover;
        background-position: right;
        height: 75px;
        margin-bottom: 2%;
    }

    .imagenBienvenidosSantuario {
        background-image: url("../imagenes/bienvenidos/BANNER\ BIENVENIDOS\ AL\ SANTUIUARIO\ 1967X312.jpg");
        background-size: cover;
        background-position: right;
        height: 150px;
        margin-bottom: 2%;
    }

    .imagenSeparadorBienvenidos {
        background-image: url("../imagenes/bienvenidos/SEPARADOR\ BIENVENIDOS\ AL\ SANTUARIO\ 1967X139.jpg");
        background-size: cover;
        background-position: right;
        height: 75px;
        margin-bottom: 2%;
    }

    .imagenPrincipalVidaDeFe {
        background-image: url("../imagenes/vida_de_fe/BANNER\ VIDA\ DE\ FÉ\ 1967X312.jpg");
        background-size: cover;
        background-position: center;
        height: 150px;
        margin-bottom: 2%;
    }

    .imagenPrincipalGrupos {
        background-image: url("../imagenes/grupos/GRUPOS\ DEL\ SANTUARIO\ 1967X312.jpg");
        background-size: cover;
        height: 150px;
        margin-bottom: 2%;
    }

    .imagenPrincipalHorarios {
        background-image: url("../imagenes/horarios/HORARIO\ 1967X312.jpg");
        background-size: cover;
        height: 150px;
        margin-bottom: 2%;
    }

    .imagenPrincipalRadioParroquial {
        background-image: url("../imagenes/radio_parroquial/12-RADIO\ PARROQUIAL.jpg");
        background-size: cover;
        height: 150px;
        margin-bottom: 2%;
    }

    .textoBanner {
        font-size: 10px !important;
        text-align: start !important;
        align-items: center !important;
        color: wheat !important;
    }

    .textoBanner1 {
        font-size: 10px !important;
        text-align: start !important;
        margin-right: 1% !important;
        color: wheat !important;
    }

    #santosDeLaSemana,
    #muroInformativo,
    #refSantuario {
        display: flex;
        line-height: 1.5em;
        text-underline-offset: 15px;
    }

    #refReligiosos {
        display: flex;
        line-height: 1.5em;
        text-underline-offset: 15px;
        margin-bottom: 8%;
    }

    #vozDelAlma {
        display: flex;
        line-height: 1.5em;
        text-underline-offset: 5px;
        margin-bottom: 8%;
    }

    .verMas {
        margin-bottom: 10%;
    }

    h3 {
        font-size: 90%;
        margin-right: 10%;
        padding-right: 5%;
    }

    .d-block {
        height: 170px;
        width: auto;
    }

    .container-fluid {
       padding: 10px; /* Adjust padding for smaller screens */
    }

    .navbar .list {
       display: flex; /* Make the list items display horizontally */
       flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
       text-align: center;
       justify-content: center;
    }

    .list-item {
       text-align: center; /* Center the text of list items */
       flex-wrap: wrap;
    }

    .footer {
       position:relative;
       left: 0;
       bottom: 0;
       width: 100%;
       color: white;
       text-align: center;
    }

    #vidaDeFe {
        margin-bottom: 5%;
    }

    #imgFooter {
       vertical-align: middle;
    }

    .footer {
       font-size: 1.5vw;
       margin-top: 1%;
    }

    .botonDonaciones {
        display: flex;
        justify-content: center;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .botonReformasSantuario {
        margin-top: 5%;
        background-color: #25295A;
        color: white;
        width: 250px;
        height: 30px;
        margin-bottom: 5%;
    }

    .tabs {
        margin-left: 10%;
        margin-right: 10%;
    }

    #horarios {
        font-size: 1rem;
    }

    #Home,
    #News,
    #Home1,
    #News1,
    #Contact1,
    #Contact2,
    #Contact3,
    #Contact4,
    #formContacto,
    #grupoPastoral,
    #grupoLaborSocial {
        text-align: left;
        margin-left: -4%;
        margin-right: -4%;
        margin-top: -15%;
    }

    #ServSacerd,
    #Cinerario {
        margin-top: -20%;
    }

    #santosDeLaSemana {
        padding-top: 5%;
        text-align: center;
        color: #25295A;
        font-weight: bold;
        justify-content: center;
        justify-items: center;
        text-decoration: underline #ACA7CF;
        text-underline-offset: 30px;
    }
    
    #fichaSantos {
        align-items: center;
    }
    
    #seccionAzulSantos {
        background-color: #25295A; color: white; border-radius: 10px; padding: 5%; line-height: 130%; font-size: 1.1rem;
    }
}